Node-Red flows/flows.json
[
    {
        "id": "bdb0615c12692ce2",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e52ae02f2fc78a5e",
        "type": "inject",
        "z": "bdb0615c12692ce2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "635bb2dfef422c55"
            ]
        ]
    },
    {
        "id": "635bb2dfef422c55",
        "type": "exec",
        "z": "bdb0615c12692ce2",
        "command": "python3 /home/pi/voicedetection.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "de59f81a23df7689"
            ],
            [
                "70c89a9e772dbe19",
                "83b1a47abf3aad16"
            ],
            [
                "4310931526533b64"
            ]
        ]
    },
    {
        "id": "de59f81a23df7689",
        "type": "debug",
        "z": "bdb0615c12692ce2",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "70c89a9e772dbe19",
        "type": "debug",
        "z": "bdb0615c12692ce2",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "4310931526533b64",
        "type": "debug",
        "z": "bdb0615c12692ce2",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "f3e3d381f78f067b",
        "type": "trigger",
        "z": "bdb0615c12692ce2",
        "name": "",
        "op1": "start",
        "op2": "stop",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "330ac6a863e2c262"
            ]
        ]
    },
    {
        "id": "330ac6a863e2c262",
        "type": "sox-record",
        "z": "bdb0615c12692ce2",
        "name": "",
        "buttonStart": "msg",
        "inputs": 1,
        "inputSource": "default",
        "manualSource": "",
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "byteOrder": "-L",
        "encoding": "signed-integer",
        "channels": 1,
        "rate": 16000,
        "bits": 16,
        "gain": "0",
        "buffer": "4096",
        "showDuration": false,
        "durationType": "forever",
        "durationLength": "0",
        "silenceDetection": "nothing",
        "silenceDuration": "2.0",
        "silenceThreshold": "2.0",
        "outputFormat": "wav",
        "manualPath": "",
        "debugOutput": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "20cbae110e821a9b"
            ],
            []
        ]
    },
    {
        "id": "20cbae110e821a9b",
        "type": "watson-speech-to-text",
        "z": "bdb0615c12692ce2",
        "name": "Speech To Text",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "1KbEEIN99vzQRlFZXU6jjmRQTJgY77h27LWEoXRi49FN",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/96edb92b-f5fe-4650-91a1-7ceb00b02663",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "57f4fd7927571313",
                "397d7389577426c6",
                "3c0314f87efd2196"
            ]
        ]
    },
    {
        "id": "57f4fd7927571313",
        "type": "debug",
        "z": "bdb0615c12692ce2",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "2a13d5b2dfb82bf5",
        "type": "debug",
        "z": "bdb0615c12692ce2",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "34ec07a1caa10e25",
        "type": "rpi-dht22",
        "z": "bdb0615c12692ce2",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "25",
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "ebbb68ada9d2d3bc"
            ]
        ]
    },
    {
        "id": "ebbb68ada9d2d3bc",
        "type": "function",
        "z": "bdb0615c12692ce2",
        "name": "temp",
        "func": "let temp = msg.payload;\nlet hum = msg.humidity;\n\nmsg.payload = \"A temperatura é \" + String(temp) + \" graus\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "58e206667fde9600"
            ]
        ]
    },
    {
        "id": "397d7389577426c6",
        "type": "function",
        "z": "bdb0615c12692ce2",
        "name": "Ação",
        "func": "let frase = msg.payload;\nlet palavras = frase.split(\" \")\nif (palavras[0] == \"Temperatura\")\n    msg.payload = true;\nelse\n    msg.payload = false;\nreturn msg;\n\n/*} else if (acao == \"desligar\") {\n    if(local = \"lâmpada\") {\n        return {payload: false};\n    }\n}*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0314f87efd2196",
        "type": "switch",
        "z": "bdb0615c12692ce2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperatura",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "umidade",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 200,
        "wires": [
            [
                "34ec07a1caa10e25"
            ],
            [
                "bd362df38d8e99b2"
            ],
            []
        ]
    },
    {
        "id": "bd362df38d8e99b2",
        "type": "rpi-dht22",
        "z": "bdb0615c12692ce2",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "25",
        "x": 1080,
        "y": 140,
        "wires": [
            [
                "f185ae57fcadc5fc"
            ]
        ]
    },
    {
        "id": "f185ae57fcadc5fc",
        "type": "function",
        "z": "bdb0615c12692ce2",
        "name": "hum",
        "func": "let temp = msg.payload;\nlet hum = msg.humidity;\n\nmsg.payload = \"A umidade é \" + String(hum) + \" porcento\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "58e206667fde9600"
            ]
        ]
    },
    {
        "id": "58e206667fde9600",
        "type": "watson-text-to-speech",
        "z": "bdb0615c12692ce2",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "2fUgISSdMUxsGYMAM37JP4kM4uGMboyN8ZK1sEvjxsmk",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/396c160f-2b83-476f-9ead-ffc222d099d8",
        "x": 1400,
        "y": 180,
        "wires": [
            [
                "76c5489a7eaad9be"
            ]
        ]
    },
    {
        "id": "76c5489a7eaad9be",
        "type": "sox-play",
        "z": "bdb0615c12692ce2",
        "name": "",
        "outputDevice": "default",
        "manualOutput": "",
        "gain": "0",
        "startNew": "skip",
        "playStream": false,
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "debugOutput": false,
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "2a13d5b2dfb82bf5"
            ]
        ]
    },
    {
        "id": "18e590844cc12e9e",
        "type": "watson-text-to-speech",
        "z": "bdb0615c12692ce2",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "2fUgISSdMUxsGYMAM37JP4kM4uGMboyN8ZK1sEvjxsmk",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/396c160f-2b83-476f-9ead-ffc222d099d8",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "361ccb26ef4b202a"
            ]
        ]
    },
    {
        "id": "361ccb26ef4b202a",
        "type": "sox-play",
        "z": "bdb0615c12692ce2",
        "name": "",
        "outputDevice": "default",
        "manualOutput": "",
        "gain": "0",
        "startNew": "skip",
        "playStream": false,
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "debugOutput": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "0b5a22208f4f1705"
            ]
        ]
    },
    {
        "id": "83b1a47abf3aad16",
        "type": "function",
        "z": "bdb0615c12692ce2",
        "name": "function 5",
        "func": "msg.payload = \"pode falar, meu mestre supremo\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "18e590844cc12e9e"
            ]
        ]
    },
    {
        "id": "0b5a22208f4f1705",
        "type": "delay",
        "z": "bdb0615c12692ce2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "f3e3d381f78f067b"
            ]
        ]
    }
]