Node-Red flows/flows (2).json
[
    {
        "id": "f4b59987086dc489",
        "type": "tab",
        "label": "Jarvis flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1c61956e0916f7b9",
        "type": "inject",
        "z": "f4b59987086dc489",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "4bd03c2d3d645dee"
            ]
        ]
    },
    {
        "id": "4bd03c2d3d645dee",
        "type": "exec",
        "z": "f4b59987086dc489",
        "command": "python3 /home/pi/voicedetection.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "3ed8de25ea970fd8"
            ],
            [
                "8e4b1805f39fcf70",
                "9acd2baac200ca6b"
            ],
            [
                "26967c09a909ec36"
            ]
        ]
    },
    {
        "id": "3ed8de25ea970fd8",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e4b1805f39fcf70",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "26967c09a909ec36",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "57568db7a692e9b9",
        "type": "trigger",
        "z": "f4b59987086dc489",
        "name": "",
        "op1": "start",
        "op2": "stop",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "342ce8e5fefa1aee"
            ]
        ]
    },
    {
        "id": "342ce8e5fefa1aee",
        "type": "sox-record",
        "z": "f4b59987086dc489",
        "name": "",
        "buttonStart": "msg",
        "inputs": 1,
        "inputSource": "default",
        "manualSource": "",
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "byteOrder": "-L",
        "encoding": "signed-integer",
        "channels": 1,
        "rate": 16000,
        "bits": 16,
        "gain": "0",
        "buffer": "4096",
        "showDuration": false,
        "durationType": "forever",
        "durationLength": "0",
        "silenceDetection": "nothing",
        "silenceDuration": "2.0",
        "silenceThreshold": "2.0",
        "outputFormat": "wav",
        "manualPath": "",
        "debugOutput": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "9966de3d0538110a"
            ],
            []
        ]
    },
    {
        "id": "9966de3d0538110a",
        "type": "watson-speech-to-text",
        "z": "f4b59987086dc489",
        "name": "Speech To Text",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "1KbEEIN99vzQRlFZXU6jjmRQTJgY77h27LWEoXRi49FN",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/96edb92b-f5fe-4650-91a1-7ceb00b02663",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "29fdf7715dd74cfe",
                "eb8fdc701d61e820"
            ]
        ]
    },
    {
        "id": "29fdf7715dd74cfe",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "23a601a91f71293d",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1870,
        "y": 240,
        "wires": []
    },
    {
        "id": "3cb9c24c53772021",
        "type": "rpi-dht22",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "22",
        "pintype": "0",
        "pin": "25",
        "x": 1280,
        "y": 240,
        "wires": [
            [
                "6d73968807a50497"
            ]
        ]
    },
    {
        "id": "6d73968807a50497",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "temp",
        "func": "let temp = msg.payload;\nlet hum = msg.humidity;\n\nmsg.payload = \"A temperatura é \" + String(temp) + \" graus\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1470,
        "y": 240,
        "wires": [
            [
                "5926a7b7a534e81c"
            ]
        ]
    },
    {
        "id": "eb8fdc701d61e820",
        "type": "switch",
        "z": "f4b59987086dc489",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "qual",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luzes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "trava",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "83b8ad1b45f6d220"
            ],
            [
                "7a7c1847ae2fdd04"
            ],
            [
                "fa49d62fa80a0373"
            ],
            [
                "e32753e33b193cce"
            ]
        ]
    },
    {
        "id": "0f9a38b2d516b504",
        "type": "rpi-dht22",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "22",
        "pintype": "0",
        "pin": "25",
        "x": 1280,
        "y": 140,
        "wires": [
            [
                "d0ae48ad41c69236"
            ]
        ]
    },
    {
        "id": "d0ae48ad41c69236",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "hum",
        "func": "let temp = msg.payload;\nlet hum = msg.humidity;\n\nmsg.payload = \"A umidade é \" + String(hum) + \" porcento\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1470,
        "y": 140,
        "wires": [
            [
                "5926a7b7a534e81c"
            ]
        ]
    },
    {
        "id": "5926a7b7a534e81c",
        "type": "watson-text-to-speech",
        "z": "f4b59987086dc489",
        "name": "cu",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "aKCx2kHFXVE0T33Gw9rPIxTnHrdDK36okU8pX-6BQj_L",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/c2cbee71-bd65-49f2-a5fd-949ea9295dc0",
        "x": 1610,
        "y": 180,
        "wires": [
            [
                "16abb8f028620973"
            ]
        ]
    },
    {
        "id": "16abb8f028620973",
        "type": "sox-play",
        "z": "f4b59987086dc489",
        "name": "",
        "outputDevice": "default",
        "manualOutput": "",
        "gain": "0",
        "startNew": "skip",
        "playStream": false,
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "debugOutput": false,
        "x": 1690,
        "y": 240,
        "wires": [
            [
                "23a601a91f71293d",
                "37c0a6a87a31e23c"
            ]
        ]
    },
    {
        "id": "07f385b9d636218c",
        "type": "watson-text-to-speech",
        "z": "f4b59987086dc489",
        "name": "titties",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "aKCx2kHFXVE0T33Gw9rPIxTnHrdDK36okU8pX-6BQj_L",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/c2cbee71-bd65-49f2-a5fd-949ea9295dc0",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "e6f3f90c2e4d5352"
            ]
        ]
    },
    {
        "id": "e6f3f90c2e4d5352",
        "type": "sox-play",
        "z": "f4b59987086dc489",
        "name": "",
        "outputDevice": "default",
        "manualOutput": "",
        "gain": "0",
        "startNew": "skip",
        "playStream": false,
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "debugOutput": false,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "da07b32f5067fddd"
            ]
        ]
    },
    {
        "id": "9acd2baac200ca6b",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "interação",
        "func": "msg.payload = \"ja pode falar\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "07f385b9d636218c"
            ]
        ]
    },
    {
        "id": "da07b32f5067fddd",
        "type": "delay",
        "z": "f4b59987086dc489",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "57568db7a692e9b9"
            ]
        ]
    },
    {
        "id": "14e92d4cc5692eaf",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "e32753e33b193cce",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "sorry",
        "func": "msg.payload = \"Desculpa, não entendi\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "d5c3a3df0ff0a224"
            ]
        ]
    },
    {
        "id": "d5c3a3df0ff0a224",
        "type": "watson-text-to-speech",
        "z": "f4b59987086dc489",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "aKCx2kHFXVE0T33Gw9rPIxTnHrdDK36okU8pX-6BQj_L",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/c2cbee71-bd65-49f2-a5fd-949ea9295dc0",
        "x": 260,
        "y": 540,
        "wires": [
            [
                "806404b64dfb3904"
            ]
        ]
    },
    {
        "id": "806404b64dfb3904",
        "type": "sox-play",
        "z": "f4b59987086dc489",
        "name": "",
        "outputDevice": "default",
        "manualOutput": "",
        "gain": "0",
        "startNew": "skip",
        "playStream": false,
        "inputEncoding": "signed-integer",
        "inputChannels": 1,
        "inputRate": 16000,
        "inputBits": 16,
        "debugOutput": false,
        "x": 530,
        "y": 540,
        "wires": [
            [
                "14e92d4cc5692eaf",
                "4bd03c2d3d645dee"
            ]
        ]
    },
    {
        "id": "1aaac527df830c6c",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Travas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1450,
        "y": 420,
        "wires": []
    },
    {
        "id": "628bdd15d96b29c4",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "ligar",
        "func": "msg.payload = \"ON\";\ncontext.set(\"luzes69\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "f3af446130690162",
                "0c996b14df2e7a6d",
                "37c0a6a87a31e23c",
                "eb0c9e3c91aaac2c"
            ]
        ]
    },
    {
        "id": "cd85b288f360a9a9",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "desligar",
        "func": "msg.payload = \"OFF\";\ncontext.set(\"luzes69\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 320,
        "wires": [
            [
                "f3af446130690162",
                "0c996b14df2e7a6d",
                "37c0a6a87a31e23c",
                "eb0c9e3c91aaac2c"
            ]
        ]
    },
    {
        "id": "f3af446130690162",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Luzes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1450,
        "y": 320,
        "wires": []
    },
    {
        "id": "b67c36659fbf1e4f",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "trancar",
        "func": "msg.payload = \"ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1280,
        "y": 360,
        "wires": [
            [
                "1aaac527df830c6c",
                "44cf81fbddbb0130",
                "37c0a6a87a31e23c"
            ]
        ]
    },
    {
        "id": "0c233f7765a0212a",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "destrancar",
        "func": "msg.payload = \"OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "1aaac527df830c6c",
                "44cf81fbddbb0130",
                "37c0a6a87a31e23c"
            ]
        ]
    },
    {
        "id": "83b8ad1b45f6d220",
        "type": "switch",
        "z": "f4b59987086dc489",
        "name": "tempdata",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "umidade",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "temperatura",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1080,
        "y": 240,
        "wires": [
            [
                "0f9a38b2d516b504"
            ],
            [
                "3cb9c24c53772021"
            ],
            [
                "e32753e33b193cce"
            ]
        ]
    },
    {
        "id": "7a7c1847ae2fdd04",
        "type": "switch",
        "z": "f4b59987086dc489",
        "name": "luzes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "acender",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "desligar",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "628bdd15d96b29c4"
            ],
            [
                "cd85b288f360a9a9"
            ],
            [
                "e32753e33b193cce"
            ]
        ]
    },
    {
        "id": "fa49d62fa80a0373",
        "type": "switch",
        "z": "f4b59987086dc489",
        "name": "trava",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "trancar",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "destrancar",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "b67c36659fbf1e4f"
            ],
            [
                "0c233f7765a0212a"
            ],
            [
                "e32753e33b193cce"
            ]
        ]
    },
    {
        "id": "60d9b396812e79bd",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "b6a34ae643b81073",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "/Energumeno/Rx",
        "qos": "",
        "retain": "",
        "broker": "8439888e2d2714fc",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "0a9f99776f17b025",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "",
        "func": "msg.payload = String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "b6a34ae643b81073",
                "60d9b396812e79bd"
            ]
        ]
    },
    {
        "id": "a38a59a484476f15",
        "type": "ui_gauge",
        "z": "f4b59987086dc489",
        "name": "Wind",
        "group": "46fae7eeb0268626",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Wind",
        "label": "km/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "c30c0d828e0e1a10",
        "type": "ui_slider",
        "z": "f4b59987086dc489",
        "name": "Kitchen",
        "label": "Air Conditioning",
        "tooltip": "",
        "group": "0b115ca7dd59fe5b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 300,
        "y": 860,
        "wires": [
            [
                "0a9f99776f17b025"
            ]
        ]
    },
    {
        "id": "5233c29708db8e60",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "",
        "func": "msg.payload = 18;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 680,
        "wires": [
            [
                "a38a59a484476f15"
            ]
        ]
    },
    {
        "id": "397c490ee5a4c8c7",
        "type": "inject",
        "z": "f4b59987086dc489",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "5233c29708db8e60"
            ]
        ]
    },
    {
        "id": "a5c7334b6fc3f87e",
        "type": "ui_slider",
        "z": "f4b59987086dc489",
        "name": "Bathroom",
        "label": "Heater",
        "tooltip": "",
        "group": "f16f213071bbc3f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 300,
        "y": 800,
        "wires": [
            [
                "0a9f99776f17b025"
            ]
        ]
    },
    {
        "id": "62f6f515270fe868",
        "type": "ui_slider",
        "z": "f4b59987086dc489",
        "name": "Living Room",
        "label": "Lamp 1",
        "tooltip": "Secundary Lamp",
        "group": "b6c3fb99b2b153d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 290,
        "y": 760,
        "wires": [
            [
                "0a9f99776f17b025"
            ]
        ]
    },
    {
        "id": "1513751749936a27",
        "type": "ui_slider",
        "z": "f4b59987086dc489",
        "name": "Living Room",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "b6c3fb99b2b153d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 290,
        "y": 720,
        "wires": [
            [
                "0a9f99776f17b025"
            ]
        ]
    },
    {
        "id": "5638acc0412d2fbe",
        "type": "ui_date_picker",
        "z": "f4b59987086dc489",
        "name": "Date",
        "label": "date",
        "group": "1b845f35ef956794",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dddd05f96cbb9f3a",
        "type": "ui_dropdown",
        "z": "f4b59987086dc489",
        "name": "Sensors",
        "label": "Sensors",
        "tooltip": "",
        "place": "Select option",
        "group": "9ce1fd9e827dbe11",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Presence",
                "value": "No one",
                "type": "str"
            },
            {
                "label": "Gas detector",
                "value": "All Fine",
                "type": "str"
            },
            {
                "label": "Smoke detector",
                "value": "Fine",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "fb0aecb810d3c03a",
        "type": "ui_switch",
        "z": "f4b59987086dc489",
        "name": "Entrance",
        "label": "Locker",
        "tooltip": "",
        "group": "b4ef67bcc672e465",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "locked",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "padlock",
        "oncolor": "blue",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "grey",
        "animate": true,
        "x": 1620,
        "y": 420,
        "wires": [
            [
                "1aaac527df830c6c"
            ]
        ]
    },
    {
        "id": "4fddeb20d8547c87",
        "type": "ui_gauge",
        "z": "f4b59987086dc489",
        "name": "Temperature",
        "group": "b554714e544846da",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 1430,
        "y": 40,
        "wires": []
    },
    {
        "id": "5c97b857bfc525fa",
        "type": "ui_chart",
        "z": "f4b59987086dc489",
        "name": "Humidity",
        "group": "46fae7eeb0268626",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Check current location for humidity NO DATA RECEIVED FOR NOW",
        "dot": false,
        "ymin": "30%",
        "ymax": "100%",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1420,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eb0c9e3c91aaac2c",
        "type": "ui_switch",
        "z": "f4b59987086dc489",
        "name": "Lamp",
        "label": "Lamp",
        "tooltip": "",
        "group": "adc4f683b40f4194",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1570,
        "y": 320,
        "wires": [
            [
                "f3af446130690162"
            ]
        ]
    },
    {
        "id": "93e9c14e72cfd2d6",
        "type": "ui_text",
        "z": "f4b59987086dc489",
        "group": "9ce1fd9e827dbe11",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Recent Activity",
        "label": "Recent Activity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1880,
        "y": 320,
        "wires": []
    },
    {
        "id": "0c996b14df2e7a6d",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "luzes2",
        "func": "if (msg.payload == \"ON\")\n    msg.payload = \"luzes ligadas\";\nelse\n    msg.payload = \"luzes desligadas\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1610,
        "y": 280,
        "wires": [
            [
                "93e9c14e72cfd2d6"
            ]
        ]
    },
    {
        "id": "44cf81fbddbb0130",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "trava2",
        "func": "if (msg.payload == \"ON\")\n    msg.payload = \"trancando a casa\";\nelse\n    msg.payload = \"destrancando a casa\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1610,
        "y": 380,
        "wires": [
            [
                "93e9c14e72cfd2d6"
            ]
        ]
    },
    {
        "id": "cfd9f39e3b023308",
        "type": "inject",
        "z": "f4b59987086dc489",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 60,
        "wires": [
            [
                "904e1fbc878c6c9a"
            ]
        ]
    },
    {
        "id": "3111b662977cbb8f",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Tempdata666",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "679875d53cb504da",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "3e04504a5c18e2a5",
        "type": "debug",
        "z": "f4b59987086dc489",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "904e1fbc878c6c9a",
        "type": "rpi-dht22",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "22",
        "pintype": "0",
        "pin": "25",
        "x": 1080,
        "y": 60,
        "wires": [
            [
                "68ed121957bb4011",
                "4fddeb20d8547c87",
                "5c97b857bfc525fa"
            ]
        ]
    },
    {
        "id": "68ed121957bb4011",
        "type": "function",
        "z": "f4b59987086dc489",
        "name": "temp",
        "func": "let temp = msg.payload;\nlet hum = msg.humidity;\n\nmsg.payload = String(temp) + \";\" + String(hum);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 100,
        "wires": [
            [
                "3e04504a5c18e2a5",
                "3111b662977cbb8f"
            ]
        ]
    },
    {
        "id": "1112f286a51533f9",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Main666",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "29180c4587a633e0",
                "4900f157a1c13079",
                "bedd8f38d4580f88",
                "654be8bcf4368e90",
                "555f852e9fb0a6c8",
                "1d844e1b1dbfaf39"
            ]
        ]
    },
    {
        "id": "37c0a6a87a31e23c",
        "type": "link out",
        "z": "f4b59987086dc489",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "e50acf455e2ab43a"
        ],
        "x": 2055,
        "y": 300,
        "wires": []
    },
    {
        "id": "e50acf455e2ab43a",
        "type": "link in",
        "z": "f4b59987086dc489",
        "name": "link in 1",
        "links": [
            "37c0a6a87a31e23c"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "4bd03c2d3d645dee"
            ]
        ]
    },
    {
        "id": "654be8bcf4368e90",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/Luzes.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "f3af446130690162",
                "eb0c9e3c91aaac2c"
            ]
        ]
    },
    {
        "id": "d14aadca84fe9640",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/Luzes.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "fac14ee3305da0f4",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Luzes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "d14aadca84fe9640"
            ]
        ]
    },
    {
        "id": "440cab9c786b9ccb",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/Travas.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "03313e26c4e2f22c",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Travas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 720,
        "wires": [
            [
                "440cab9c786b9ccb"
            ]
        ]
    },
    {
        "id": "1d379afcb1675901",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/Umidificador.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1ef4b62dab9ea919",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Umidificador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "1d379afcb1675901"
            ]
        ]
    },
    {
        "id": "b98bc164b74a7f2b",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/AC.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "97f96944b64cecda",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "AC",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "b98bc164b74a7f2b"
            ]
        ]
    },
    {
        "id": "bedd8f38d4580f88",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/Travas.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "1aaac527df830c6c"
            ]
        ]
    },
    {
        "id": "4900f157a1c13079",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/AC.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 660,
        "wires": [
            [
                "4ca5ff4d454555cf"
            ]
        ]
    },
    {
        "id": "4ca5ff4d454555cf",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "AC",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1490,
        "y": 660,
        "wires": []
    },
    {
        "id": "d53e2ab603b4014d",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "Umidificador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1510,
        "y": 700,
        "wires": []
    },
    {
        "id": "29180c4587a633e0",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/Umidificador.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 700,
        "wires": [
            [
                "d53e2ab603b4014d"
            ]
        ]
    },
    {
        "id": "54977cdc8f3d3c69",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/GasAlarme.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fd97b7d1cd9ec462",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "GasAlarme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 900,
        "wires": [
            [
                "54977cdc8f3d3c69"
            ]
        ]
    },
    {
        "id": "92496addcca7837a",
        "type": "file",
        "z": "f4b59987086dc489",
        "name": "write",
        "filename": "/home/pi/Documents/TempAlarme.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1090,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a824548b5b963c43",
        "type": "mqtt in",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "TempAlarme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8439888e2d2714fc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 930,
        "y": 960,
        "wires": [
            [
                "92496addcca7837a"
            ]
        ]
    },
    {
        "id": "555f852e9fb0a6c8",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/GasAlarme.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 740,
        "wires": [
            [
                "06191789e80a6a08"
            ]
        ]
    },
    {
        "id": "06191789e80a6a08",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "GasAlarme",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1510,
        "y": 740,
        "wires": []
    },
    {
        "id": "d695647a8dded522",
        "type": "mqtt out",
        "z": "f4b59987086dc489",
        "name": "",
        "topic": "TempAlarme",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8439888e2d2714fc",
        "x": 1510,
        "y": 780,
        "wires": []
    },
    {
        "id": "1d844e1b1dbfaf39",
        "type": "file in",
        "z": "f4b59987086dc489",
        "name": "read",
        "filename": "/home/pi/Documents/TempAlarme.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1330,
        "y": 780,
        "wires": [
            [
                "d695647a8dded522"
            ]
        ]
    },
    {
        "id": "8439888e2d2714fc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "46fae7eeb0268626",
        "type": "ui_group",
        "name": "Meteorological",
        "tab": "b116c7e3c1db1baf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "0b115ca7dd59fe5b",
        "type": "ui_group",
        "name": "Kitchen",
        "tab": "c6a7db0a62a73a97",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f16f213071bbc3f2",
        "type": "ui_group",
        "name": "Bathroom",
        "tab": "c6a7db0a62a73a97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b6c3fb99b2b153d1",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "c6a7db0a62a73a97",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1b845f35ef956794",
        "type": "ui_group",
        "name": "Time",
        "tab": "b116c7e3c1db1baf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ce1fd9e827dbe11",
        "type": "ui_group",
        "name": "Garage",
        "tab": "7e9fa4f94edbc7ad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b4ef67bcc672e465",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "7e9fa4f94edbc7ad",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b554714e544846da",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "b116c7e3c1db1baf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "adc4f683b40f4194",
        "type": "ui_group",
        "name": "Bedroom",
        "tab": "c6a7db0a62a73a97",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "679875d53cb504da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b116c7e3c1db1baf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6a7db0a62a73a97",
        "type": "ui_tab",
        "name": "Lighting and Environmental",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7e9fa4f94edbc7ad",
        "type": "ui_tab",
        "name": "Security",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
